/*Головні стилі */
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6,p {
    margin: 0; 
}

ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

h1, h2, h3,{
    font-family: "Roboto";      
}

a{
    text-decoration: none;

}

img{
    display: block;
}
.container {
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*HEADER */
.conteiner-header{
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
padding: 24px 156px;

}
.logo-span-header{
    color: #2E2F42;
}
 
.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: #4d5ae5;
    
}
.post-menu{
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.32px;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;

}
.post-menu-link{
    color: #2e2f42;
    padding: 24;
    gap: 40;

}
.post-menu-link:hover, .post-menu-link:focus{
     color: #404BBF;
}
.post-social{
    font-style: normal;
}
.post-social-links{
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.32px;     
}
.post-social-links:hover, .post-social-links:focus{
    color: #404bbf;
}

/* SECTION 1*/
.post-section{
    background: #2E2F42;
    flex-shrink: 0;
}
.post-section-title{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 48px;
}
.post-section-button{
    color: #ffffff;
    background: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    margin-bottom: 188px;
} 
.post-section-button:hover, .post-section-button:focus{
    background-color: #404BBF;
}

/* SECTION 2 */
.post-title-secondary{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;   
}
.post-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

/* SECTION 3 */
.post-section-three-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    width: 162px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;

}
.post-section-three{
    background: #F4F4FD;
}
.post-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.2;
    
}
.post-title-list{
    background-color: #FFFFFF;
}
    
/*SECTION 4 */
.post-section-four-title{
color: #2E2F42;
font-size: 36px;
ont-weight: 500;
letter-spacing: 0.02em;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
width: 218px;
margin-left: auto;
margin-right: auto;
margin-bottom: 72px;
}

/*FOOTER*/
.post-footer{
    background: #2E2F42;
}
.logo-span-footer{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.post-footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
    
    